
/*Hacer que los dos botones se vayan a la derecha*/

.rightButtons {
    float: right;
}
/*Padding de arriba de la barra  993AD6          ECC2FC*/
.Fondo {
    background-color: #993AD6;
}
.secondB {
    background-color: #ECC2FC;
    overflow: hidden;
}
.userview {
    width: 98%;
    height: 95%;
    position:fixed;
}



/*Botones*/
.btn:hover {
    background-color: #FEF5ED;
    color: #ADC2A9;
}


.left {
    display: flex;
    flex-direction:column;
    width: 70%;
    float: left;
    height: fit-content;
    padding-top: 7%;

}

.name {
    font-family: 'Brush Script MT';
    font-style: italic;
    font-weight: 200;
    font-size: 250%;
    padding-left: 7%;
    text-align: center;
}

.bachelors {
    font-size: large;
    text-align: center;
    float:left;
    padding-top: 0%;
    padding-left: 15%;
}
.school {
    font-size: large;
    float:right;
    padding-top: 0%;
    padding-right: 15%;
}
.moto {
    text-decoration: dotted;
    font-size: 150%;
    font-family: cursive;

}
.labels {
    font-size: large;
    float: left;
    padding-left: 5%;
    padding-top: 5%;
}

.right {
    display: flex;
    flex-direction:column;
    width: 30%;
    float: right;
    height: fit-content;
    padding-top: 5%;
    

}
.profileImage {
    border-radius: 40%;
    width: 90%;
    height: fit-content;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-right: 4%;
}

.icon {
    width: 25px;
}

.loc {
    font-size: large;
    float: right;
    padding-right: 5%;
    padding-top: 5%;
}