
/*The buttons on the upper right */
.rightButtons {
    float: right;
}
/*Background color*/
.Fondo {
    background-color: #114358;
}
.secondB {
    background-color: white;
    overflow: hidden;
}
/*Container to show information*/
.userview {
    width: 98%;
    height: 95%;
    position:fixed;
}
.container{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

/*Text configuration*/

.text {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
    color: #464646;
    font-size: larger;
}
.listSoft{
    float:left;
    text-align: center;
}
.labels {
    font-size: large;
    float: left;
    padding-left: 5%;
    padding-top: 5%;
}
.name {
    font-family: 'Brush Script MT';
    font-style: italic;
    font-weight: 200;
    font-size: 250%;
    padding-left: 7%;
    text-align: center;
}

.loc {
    font-size: large;
    float: right;
    padding-right: 5%;
    padding-top: 5%;
}

/*Buttons*/
.btn:hover {
    background-color: #FEF5ED;
    color: #668446;
    text-decoration:overline;

}
.btn {
    padding: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: #ACCC7B;
}
#darkMode{
    padding-left: 10%;
}


/*containers with showing information*/


.right {
    display: flex;
    flex-direction:column;
    width: 60%;
    float: right;
    height: fit-content;
}



.left {
    display: flex;
    flex-direction:column;
    width: 20%;
    float: left;
    height: fit-content;
    padding-left: 15%;
    padding-bottom: 15%;
    

}

/*images and icons */
.profileImage {
    border-radius: 60%;
    border-width: 5px;
    border-style:dotted;
    border-color: #ACCC7B;
    width: 90%;
    height: fit-content;

}

.icon {
    width: 25px;
}
